.project__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.project__container > div {
    background: var(--color-bg-varient);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.project__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-varient);
    cursor: default;
}

.project__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}
